footer {
  display: flex;
  justify-content: space-around;
}

.footerContainer {
  width: 80%;
  display: flex;
  font-family: Poppins;
  color: black;
  font-size: 16px;
  span{
    font-size: 20px;
  }
  p{
    width: auto;
    text-align: right;
  }
}
